body {
    background-image: url('./images/P1070811.png');
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.card:hover {
    background-color: rgba(0,0,0,0.5);
}

.card {
    width: 350px;
    background-color: rgba(0,0,0,0.4);
}

.navbar {
    background-color: rgba(0,0,0,0.7);
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.editCityInput {
    border: 0;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.editCityInput:focus {
    outline: none;
}

.icon {
    float: right;
    display: inline-block;
}

.icon-color:hover {
    color: gray
}